node_modules
dist
.vite
.vscode
.idea
.DS_Store
*.log
.env
.env.*
.git
.gitignore
README.md
k8s
docker-compose*
docker-compose.*
compose*
*.yml
*.yaml
.cicd
.github
.gitlab-ci.yml
Jenkinsfile
LICENSE
docs
test
tests
__tests__
coverage
.nyc_output
